<!--component 1 app-navi-->
<app-navi></app-navi>
<!--three column layout-->
<div class="container-fluid">
  <div class="row g-2">
    <div class="col-3">
    <!--component 2 app-course-list-->
      <div class="p-3"><app-course-list></app-course-list></div>
    </div>
    <!--ADD COURSE INFO-->
    <div class="col-6">
      <div class="p-3"><app-course-info></app-course-info></div>
    </div>
    <!--ADD ARTICLES-->
    <div class="col-3">
      <div class="p-3"><app-articles></app-articles></div>
    </div>
  </div>
</div>
<!--CONTACT INFORMATION-->
<app-contact-info></app-contact-info>