body {
    box-sizing: content-box;
}
.col {
    border: 1px solid black;
}
.row {
    height: 100px;
}
@media (min-width: 576px) {
    body {
        background-color: green;
    }
}
@media (min-width: 768px) {
    body {

        background-color: blue;

    }

}

@media (min-width: 1200px) {

    body {

        background-color: grey;

    }

}

@media (min-width: 1400px) {

    body {

        background-color: yellow;

    }

}