body {
    box-sizing: content-box;
}
.col{
    margin-top:1%;
    border-style:solid;

}
@media (min-width: 100px) {
    body {
        background: orange;
    }
}
@media (min-width: 576px) {
    body {
        background-color: green;
    }
}
@media (min-width: 768px) {
    body {
        background-color: GREY;
    }
}
@media (min-width: 1200px) {
    body {
        background-color: BLUE;
    }
}
@media (min-width: 1400px) {
    body {
        background-color: yellow;
    }
}