body{
    box-sizing:content-box;
}
.col{
    margin-top: 1%;
    border-style: solid;
    border-color: white;
    padding: 20px;
    width: 100%;

}
.col-4{
    margin-top: 1%;
    border-style: solid;
    border-color: white;
    margin-right: 1%;
    padding: 20px;

}
.col-12{
    margin-top: 1%;
    border-style: solid;
    border-color: white;
    margin-right: 1%;
    padding: 20px;

}
@media (min-width: 100px) {
    body {
        background: orange;
    }
}
@media (min-width: 576px) {
    body {
        background-color: white;
    }
}
@media (min-width: 768px) {
    body {
        background-color: yellow;
    }
}
@media (min-width: 1200px) {
    body {
        background-color: BLUE;
    }
}
@media (min-width: 1400px) {
    body {
        background-color: grey;
    }
}