<h3>Course Info</h3>
<div class="card border-primary mb-3" style="max-width: 40rem;">
    
    <div class="card-header">BSCS</div>
    <div class="card-body">
      <h5 class="card-title">BACHELOR OF SCIENCE IN COMPUTER SCIENCE</h5>
      <p class="card-text">In 3 to 5 years after graduation, graduates of the Bachelor of Science in Computer Science are expected to:

        Practice and grow as computing professionals, conducting research and/or leading, solving diverse and unique problems in software design and development processes, maintaining projects in various technical areas of computer science;
        </p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 40rem;">
    <div class="card-header">BSIT</div>
    <div class="card-body">
      <h5 class="card-title">BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</h5>
      <p class="card-text">In 3 to 5 years after graduation, graduates of the Bachelor of Science in Information Technology are expected to:

        Be prime designers and implementers of quality computing solutions for real world problems and carry out basic and applied research leading to new innovations in Information Technology (IT) and related interdisciplinary areas;</p>
    </div>
  </div>
  <div class="card border-success mb-3" style="max-width: 40rem;">
    <div class="card-header">BSCPE</div>
    <div class="card-body">
      <h5 class="card-title">BACHELOR OF SCIENCE IN COMPUTER ENGINEERING</h5>
      <p class="card-text">In 3 to 5 years after graduation, graduates of the Bachelor of Science in Computer Engineering are expected to:

        Demonstrate lifelong learning by generating innovative engineering solutions using significant and scientific research, complex problem-solving, relevant social and personal skills;</p>
    </div>
  </div>

    