<div class="card border-info mb-3">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h1>APPDEV1</h1>
<h4>Jonathan-Kedawen Jr.</h4>
Introduction to Application Development<br>
<button type="button" class="btn btn-info">Learn More</button>
<br><br>
<div class="form-group">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-secondary" type="button" id="button-addon2">Add New Student</button>
  </div>
</div>
  <div class="card-body">
    <h3>Students List:</h3>
    <table class="table table-active">
      <thead>
        <tr>
          <th scope="col">Course</th>
          <th scope="col">ID Number</th>
          <th scope="col">Name</th>
          <th scope="col">Date Added</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-hover">
          <th scope="row">{{student.course}}</th>
          <td>{{student.idnumber}}</td>
          <td>{{student.name}}</td>
          <td>{{student.dateadded}}</td>
          <td><button type="button" class="btn btn-info">View</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        <tr class="table-active">
          <th scope="row">{{student1.course}}</th>
          <td>{{student1.idnumber}}</td>
          <td>{{student1.name}}</td>
          <td>{{student1.dateadded}}</td>
          <td>
            <button type="button" class="btn btn-info">View</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        <tr class="table-active">
          <th scope="row">{{student2.course}}</th>
          <td>{{student2.idnumber}}</td>
          <td>{{student2.name}}</td>
          <td>{{student2.dateadded}}</td>
          <td><button type="button" class="btn btn-info">View</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button></td>
        </tr><div class="card border-info mb-3" style="max-width: 20rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            
