<ul class="list-group">
  <h3>Course List</h3>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      BACHELOR OF SCIENCE IN COMPUTER SCIENCE
      <span class="badge bg-primary rounded-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      BACHELOR OF SCIENCE IN COMPUTER ENGINEERING
      <span class="badge bg-primary rounded-pill">3</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY
      <span class="badge bg-primary rounded-pill">1</span>
    </li>
  </ul>