  <div class="card">
    <div class="card-body">
      <h4>Contact Us</h4>
      <p class="card-text">For more information and for queries, please contact:</p>
      <a href="#" class="card-link">University of Baguio, General Luna Road, Baguio City</a>
      <br>
      <a>(074) 442-3036</a><br>
      <a>(Smart) 09691569429</a><br>
      <a>(Globe) 09060740288</a><br>
      <a>Open: 8:00 am - 4:00 pm </a><br><br>
      <a>Follow us on our Social Medias</a><br>
      <a href="https://www.youtube.com/channel/UCelKQX7FTP7fr1b66kT5E8g">YOUTUBE</a><br>
      <a href="https://www.facebook.com/universityofbaguio/">FACEBOOK</a><br>
      <a href="https://www.instagram.com/universityofbaguio/?hl=en">INSTAGRAM</a><br>
    </div>
  </div>