<div class="list-group">
    <h4>Related Articles</h4>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Bachelor of Science in Information Technology</h5>
        <small>7 months and 2 days ago</small>
      </div>
      <p class="mb-1">
        In 3 to 5 years after graduation, graduates of the Bachelor of Science in Information Technology are expected to: be prime designers and implementers of</p>
      <small>(August 8, 2021)</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Bachelor of Science in Computer Engineering</h5>
        <small class="text-muted">7 months and 2 days agoo</small>
      </div>
      <p class="mb-1">In 3 to 5 years after graduation, graduates of the Bachelor of Science in Computer Engineering areexpected to: demonstrate lifelong learning by generating innovative engineering</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Bachelor of Science in Computer Science</h5>
          <small class="text-muted">7 months and 2 days ago</small>
        </div>
        <p class="mb-1">In 3 to 5 years after graduation, graduates of the Bachelor of Science in Computer Science are expectedto: practice and grow as computing professionals, conducting</p>
      </a>
  </div>